:root {
    --bg-color: #e4e9f0;
    --cz-color: #003399;
    --cz-over: #0034c3;
    --pl-color: #ff6600;
    --pl-over: #ff8800;
    --low-color: #aaaeb8;
    --low-over: #bbbec5;
}

body {
    background: no-repeat top url("bg-top.png"), var(--bg-color);
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 0.9em;
}

h2 {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1em;
    color: var(--pl-color);
}

h2,
h3,
p {
    margin-left: 1rem;
    color: var(--cz-color);
}

h2 {
    color: var(--pl-color);
}


h3 {
    font-size: 1.4em;
    font-weight: 400;
    color: var(--pl-color);
    text-decoration: underline;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.container {
    max-width: 1100px;
    margin: 0px auto;
    padding: 0px 2em;
}

.nav {
    display: flex;
    width: 100%;
    align-items: center;
    height: 64px;
}

.nav__item {
    display: flex;
    text-align: center;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    text-decoration: none;
    flex-grow: 1;
    padding: 1em;
    background-color: var(--cz-color);
    color: white;
    transition: background-color 0.2s ease-in-out;
}

.nav__item:hover {
    color: white;
    background-color: var(--cz-over);
    transition: all 0.2s ease-in-out;
}


.nav__item--lang {
    background-color: var(--low-color);
}

.nav__item--lang:hover {
    color: white;
    background-color: var(--low-over);
}

.nav__item:active {
    background-color: var(--pl-color);
}

.bar {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.header {
    padding: 3em 0em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    width: 50%;
    align-items: center;
}

.header__logo--old {
    flex-direction: row-reverse;
}

.header__logo--old a {
    display: block;
    padding: 1.5em;
    background: no-repeat left/contain url("btn-start.svg"), no-repeat right/contain url("btn-end.svg"), var(--low-color);
    color: white;
    text-decoration: none;
    filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.3));
    transition: background-position 1s ease-out, background-color 0.2s ease-in-out;
}

.header__logo--old a:hover {
    text-decoration: none;
    background: no-repeat -2%/contain url("btn-start.svg"), no-repeat 102%/contain url("btn-end.svg"), var(--low-over);
    transition: background-position 1s ease-out, background-color 0.2s ease-in-out;
}

.slider {
    background-image: url("slider1.jpg");
    background-size: cover;
    background-position: center;
    max-width: 1400px;
    height: 360px;
    margin: 0px auto;
    background-color: #003399;
}

.slider__content {
    height: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    align-self: center;
    gap: 2em;
}

.slider__content img {
    height: 70px;
}

.slider__content article {
    font-size: 1.4em;
    color: white;
    text-align: right;
}

.slider__content h2 {
    margin: 0.2em;
    color: white;
    text-transform: none;
}

.slider__content a {
    color: white;
}

.slider__controller {
    color: white;
    display: flex;
    margin-top: 30px;
}

.slider__controller .bi {
    font-size: 0.7em;
}

.section {
    padding: 4em 0em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.section--nopadding {
    padding: 0em;
}

.section--invert {
    position: relative;
    max-width: 1400px;
    background-color: var(--cz-color);
    margin: 0px auto;
}

.section--invert::after {
    pointer-events: none;
    content: "";
    position: absolute;
    bottom: -26px;
    left: -28px;
    background: no-repeat center url("bg-blue.png");
    width: 1457px;
    height: 289px;
}

.section__button {
    background: no-repeat left/contain url("btn-start.svg"), no-repeat right/contain url("btn-end.svg"), var(--pl-color);
    box-sizing: border-box;
    width: 30%;
    padding: 1em 1.5em;
    text-align: center;
    color: white;
    font-size: 1.4em;
    text-decoration: none;
    filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.3));
    transition: background-position 1s ease-out, background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__button:hover {
    text-decoration: none;
    background: no-repeat -1%/contain url("btn-start.svg"), no-repeat 101%/contain url("btn-end.svg"), var(--pl-over);
    color: white;
    transition: background-position 1s ease-out, background-color 0.2s ease-in-out;
}

.article {
    width: 32%;
}

.article--logo {
    width: 25%;
}

.section--invert .article h2 {
    color: white;
}

.article--wide {
    width: 65%;
}

.nav--sidebar {
    box-sizing: border-box;
    width: 32%;
    background-color: var(--cz-color);
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.nav--sidebar__header {
    padding: 2em 2em 1em;
}

.nav--sidebar .line {
    box-sizing: border-box;
    margin-top: 1em;
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--bg-color);
}

.nav--sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em 2em;
    transition: background-color 0.2s ease-in-out;

}

.nav--sidebar a:hover {
    background-color: var(--cz-over);
    transition: background-color 0.2s ease-in-out;

}

.nav--sidebar h2 {
    color: white;
    margin: 0;
}

.article img {
    width: 100%;
    border-radius: 3px;
    display: block;
}


.article p {
    line-height: 1.5em;
}

.article a,
.bar a {
    color: var(--pl-color);
    margin-left: 1rem;
}

.section--invert a {
    display: block;
    color: white;
    margin-top: 1em;
}

.image--date {
    position: relative;
    display: inline-block;
}

.image--date:after {
    pointer-events: none;
    border-radius: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "22. 8. 2022";
    padding: 5em 1rem 1rem;
    color: white;
    box-sizing: border-box;
    font-weight: 700;
    width: 100%;
    height: 100px;
    display: inline-block;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.footer--social {
    background-color: var(--pl-color);
    max-width: 1400px;
    position: relative;
    color: white;
}

.footer--social::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0px;
    left: -28px;
    background: no-repeat center url("bg-orange.png");
    width: 1457px;
    height: 289px;
}

.footer--contact {
    background-color: var(--cz-color);
    color: white;
}

.footer__network {
    width: 22%;
    text-align: center;
}

.footer {
    margin: 0px auto;
    max-width: 1400px;
}

.footer h2,
.footer h3,
.footer p,
.footer a {
    color: white;
    margin-left: 0;
}

.footer img {
    border-radius: 0;
}

.footer .section {
    align-items: center;
}

.bi {
    font-size: 1.5rem;
    margin-left: 0.5em;
}

.line {
    display: block;
    width: 1px;
    background-color: var(--bg-color);
}

.nav-mini {
    display: none;
}

#content article {
    margin-top: 2em;
}

#content article a {
    color: var(--pl-color);
}

#content article h2 {
    color: var(--cz-color);
}

#content h2, #content h3, #content p {
    margin-left: 0rem;
}

#content .bi {
    margin-left: 0.3em;
    font-size: 1em;
}

@media screen and (max-width: 1480px) {

    .footer--social::after,
    .section--invert::after {
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 1180px) {
    body {
        background: var(--bg-color);
    }

    #topmenu {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }

    .header {
        padding: 2em 2em;
    }

    .footer--contact .article {
        width: 40%;
    }

    .footer--contact .article:nth-child(3) {
        width: 20%;
    }
}

@media screen and (max-width: 860px) {
    .nav--sidebar {
        display: none;
    }

    #content .article--wide {
        width: 100%;
        margin: 0;
    }

    .header {
        flex-flow: column;
    }

    .header__logo {
        width: 80%;
    }

    .header__logo--old {
        flex-direction: row;
        padding-top: 2em;
    }

    .header__logo--old a {
        background: none;
        filter: none;
        color: var(--low-color);
        padding: 0;
    }

    .header__logo--old a:hover {
        color: var(--low-color);
    }

    .header__logo--old a:hover {
        background: none;
        filter: none;
        color: var(--pl-color);
    }

    .section {
        padding: 2em 0em;
    }

    .footer--contact .article {
        width: 100%;
    }

    .footer--contact .article:nth-child(3) {
        width: 250px;
    }

    .footer__network h3 {
        display: none;
    }

    .nav {
        display: none;
    }

    .nav-mini {
        display: flex;
    }

    .nav__item {
        justify-content: flex-start;
    }

    .nav__item--lang {
        flex: 0 0 auto;
    }

    .bi {
        margin-right: 0.5em;
        margin-left: 0px;
    }

    nav.section {
        gap: 2em;
        flex-direction: column;
    }

    .section__button {
        width: 100%;
    }

    #news .article {
        width: 48%;
    }

    #news .article:nth-child(3) {
        display: none;
    }

    .section--invert .section .article {
        width: 100%;
    }

    .line {
        display: block;
        height: 1px;
        width: 100%;
        margin: 2em 0em;
        background-color: var(--bg-color);
    }
}

@media screen and (max-width: 580px) {
    body {
        font-size: 1.1em;
    }
    .slider {
        font-size: 0.9rem;
    }
    .image--date:after {
        padding: 3.5em 1rem 1rem;
    }
    
    .header__logo {
        width: 100%;
    }

    #news {
        gap: 2em;
    }

    #news .article {
        width: 100%;
    }

    #news .article:nth-child(3) {
        display: block;
    }

    .footer__network img {
        width: 60%;
    }

    #logo {
        gap: 4em;
    }

    #logo .article--logo {
        width: 60%;
    }
}